<div class="mt-1">
  <h2 class="title">Novo Funcionário</h2>
    <br/>
</div>
<form [formGroup]="EmployeeForm" (submit)="addEmployee()">
  <div class="form-group">
    <label for="formGroupExampleInput" class="form-label">Nome</label>
    <input type="text"  class="form-control" formControlName="name"
      [ngClass]="{'is-invalid': registerFormControl.name.errors && registerFormControl.name.touched}"
      placeholder="Digite um nome">
    <div class="div invalid-feedback"
      *ngIf="registerFormControl.name.hasError('required') && registerFormControl.name.touched">
        O campo nome é obrigatório.
    </div>
    <div class="div invalid-feedback"
      *ngIf="registerFormControl.name.hasError('minlength') && registerFormControl.name.touched">
        No mínimo 5 caracteres.
    </div>
    <div class="div invalid-feedback"
      *ngIf="registerFormControl.name.hasError('maxlength') && registerFormControl.name.touched">
        No máximo 100 caracteres.
    </div>
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput" class="form-label">CPF</label>
    <input type="text" formControlName="cpf" class="form-control"
      placeholder="Digite um CPF"
      [ngClass]="{'is-invalid': registerFormControl.cpf.errors && registerFormControl.cpf.touched}">
    <div class="div invalid-feedback"
      *ngIf="registerFormControl.cpf.hasError('required') && registerFormControl.cpf.touched">
        O campo CPF é obrigatório. Ex: 000.000.000-00
    </div>
    <div class="div invalid-feedback"
      *ngIf="registerFormControl.cpf.hasError('minlength') && registerFormControl.cpf.touched">
        No mínimo 11 caracteres. Ex: 000.000.000-00
    </div>
    <div class="div invalid-feedback"
      *ngIf="registerFormControl.cpf.hasError('maxlength') && registerFormControl.cpf.touched">
        No máximo 14 caracteres. Ex: 000.000.000-00
    </div>
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput" class="form-label">Data de Nascimento</label>
    <input  type="text" class="form-control"
      formControlName="birth"
      bsDatepicker
      [bsConfig] ="{ dateInputFormat : 'DD/MM/YYYY'}" placeholder="Digite uma data nascimento"
      [ngClass]="{'is-invalid': registerFormControl.birth.errors && registerFormControl.birth.touched}">
    <div class="div invalid-feedback"
      *ngIf="registerFormControl.birth.hasError('required') && registerFormControl.birth.touched">
        O campo data de nascimento é obrigatório.
    </div>
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput" class="form-label">Telefone</label>
    <input type="text" name="phone" class="form-control is-invalid"
     formControlName='phone' placeholder="Digite um telefone"
     [ngClass]="{'is-invalid': registerFormControl.phone.errors && registerFormControl.phone.touched}">
    <div class="div invalid-feedback"
      *ngIf="registerFormControl.phone.hasError('required') && registerFormControl.phone.touched">
        O campo telefone é obrigatório. Ex: (00)0 00000000
    </div>
    <div class="div invalid-feedback"
      *ngIf="registerFormControl.phone.hasError('minlength') && registerFormControl.phone.touched">
        No mínimo 10 caracteres. Ex: (00)0 00000000
    </div>
    <div class="div invalid-feedback"
      *ngIf="registerFormControl.phone.hasError('maxlength') && registerFormControl.phone.touched">
        No máximo 15 caracteres. Ex: (00)0 00000000
    </div>
  </div>
  <div class="form-group">
    <hr>
    <button class="btn btn-success btn-primary-spacing" [disabled]="!EmployeeForm.valid" >
      <i-bs name="save"
      width="20"
        height="20">
      </i-bs>
      Salvar</button>
  </div>
</form>
