<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse mt-3">
  <div class="position-sticky pt-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" routerLink="home">
          <i-bs name="house-fill" width="20" height="20">
          </i-bs>
          Início
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-current="page" routerLink="employee">
          <i-bs name="people-fill" width="20" height="20">
          </i-bs>
          Funcionários</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-current="page" routerLink="add-employee">
          <i-bs name="plus-circle" width="20" height="20">
          </i-bs>
          Novo Funcionário</a>
      </li>
    </ul>
  </div>
</nav>
